*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: rgb(244, 177, 89);
}

.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 50px); 
    grid-template-rows: repeat(6, 50px); 
    justify-content: center;
}
 
.black{
    border: 4px solid rgb(18, 215, 18);
}
.one{
    border-left: 2px solid rgb(235, 165, 73);
    border-bottom: 2px solid rgb(235, 165, 73);
}
.two{
    border-bottom: 2px solid rgb(235, 165, 73);
    border-right:  2px solid rgb(235, 165, 73);
}
.three{
    border-left:  2px solid rgb(235, 165, 73);
    border-right:  2px solid rgb(235, 165, 73);
}
.four{
    border-left:  2px solid rgb(235, 165, 73);
    border-bottom:  2px solid rgb(235, 165, 73);
    border-right:  2px solid rgb(235, 165, 73);
}
.five{
    border-right:  2px solid rgb(235, 165, 73);
    border-left:  2px solid rgb(235, 165, 73);
    /* border-bottom:  2px solid rgb(235, 165, 73); */
}
.six{
    border-left:  2px solid rgb(235, 165, 73);
}
.seven{
    border-top: 1px solid rgb(235, 165, 73);
    border-right: 1px solid rgb(235, 165, 73);
    border-bottom:  2px solid rgb(235, 165, 73);
}
.eight{
    border-left: 2px solid rgb(235, 165, 73);
    border-top:  2px solid rgb(235, 165, 73);
}
.nine{
    border-right:  2px solid rgb(235, 165, 73);
    border-bottom:  2px solid rgb(235, 165, 73);
}
.ten{
    border-top:  2px solid rgb(235, 165, 73);
    border-left:  2px solid rgb(235, 165, 73);
    border-right: 0;
}
.eleven{
    /* border-top:  2px solid rgb(235, 165, 73); */
    border-right:  2px solid rgb(235, 165, 73);
    border-left: 0;
}
.twelve{
    border-left:  2px solid rgb(235, 165, 73);
    border-bottom: 0;
}
.thirteen{
    border-top: 2px solid rgb(235, 165, 73);
    border-bottom:  2px solid rgb(235, 165, 73);
}
.fourteen{
    border-right:  2px solid rgb(235, 165, 73);
}
.fifteen{
    border-left:  2px solid rgb(235, 165, 73);
    border-top:  2px solid rgb(235, 165, 73);
}
.sixteen{
    border-right:  2px solid rgb(235, 165, 73);
    border-bottom: 2px solid rgb(235, 165, 73);
}
.seventeen{
    border-right:  2px solid rgb(235, 165, 73);
    border-left:  2px solid rgb(235, 165, 73);
}
.eighteen{
    border-left:  2px solid rgb(235, 165, 73);
    border-top: 0;
}
.nineteen{
    
    border-top:  2px solid rgb(235, 165, 73);
    border-right:  2px solid rgb(235, 165, 73);
}
.twenty{


    border-left:  2px solid rgb(235, 165, 73);
    border-bottom:  2px solid rgb(235, 165, 73);
}
.twentyone{

    border-right: 2px solid rgb(235, 165, 73);
    border-bottom: 2px solid rgb(235, 165, 73);
}
.twentytwo{
    border-top: 2px solid rgb(235, 165, 73);
    border-left: 2px solid rgb(235, 165, 73);
    border-right: 0;
}
.twentyfive{
    border-right:  2px solid rgb(235, 165, 73);
    border-bottom:  2px solid rgb(235, 165, 73);
}
.twentythree{
    border-right: 0;
    border-left: 0;
}
.twentyfour{
    border-bottom: 2px solid rgb(235, 165, 73);
    border-left: 0;
}
.twentysix{
    border-top:  2px solid rgb(235, 165, 73);
    border-left:  2px solid rgb(235, 165, 73);
    border-bottom:  2px solid rgb(235, 165, 73);
}
.twentyseven{
    border-top: 2px solid rgb(235, 165, 73);
    border-bottom: 2px solid rgb(235, 165, 73);
}
.twentyeight{
    border-bottom: 2px solid rgb(235, 165, 73);
    border-right: 2px solid rgb(235, 165, 73);
}
.twentynine{
    border-left: 2px solid rgb(235, 165, 73);
    border-bottom: 2px solid rgb(235, 165, 73);
}
.thirty{
    border-bottom: 2px solid rgb(235, 165, 73);
    border-top: 2px solid rgb(235, 165, 73);
}
.thirtyone{
    border-top:  2px solid rgb(235, 165, 73);
    border-right:  2px solid rgb(235, 165, 73);
}
.thirtytwo{
    border-top:  2px solid rgb(235, 165, 73);
    border-left:  2px solid rgb(235, 165, 73);
}
.thirtythree{
    border-top: 2px solid rgb(235, 165, 73);
    border-right: 2px solid rgb(235, 165, 73);
}
.thirtyfour{
    border-left: 2px solid rgb(235, 165, 73);
    border-top: 2px solid rgb(235, 165, 73);
}
.thirtyfive{
    border-top: 2px solid rgb(235, 165, 73);
    border-bottom: 2px solid rgb(235, 165, 73);
}
.thirtysix{
    border-top: 2px solid rgb(235, 165, 73);
}